services:
  - type: web
    name: quote-on-click
    env: node
    region: oregon
    branch: main
    buildCommand: npm install
    startCommand: node server.js
    plan: free
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
